<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>Augmented Document Scanner</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!--Adds app icon to our webapp  -->
    <link rel="apple-touch-icon"
          sizes="180x180"
          href="./images/ads-high-resolution-logo.png" />
    <link rel="icon"
          type="image/png"
          sizes="32x32"
          href="./images/docScan.png" />
    <link rel="icon"
          type="image/png"
          sizes="16x16"
          href="./images/docScan.png" />


    <style>
        /* Add your custom styles here */
        body {
            padding-top: 80px;
            text-align: center;
            background-image: url("./images/paper_background.jpg");
            background-size: cover;
        }

        .jumbotron {
            background-color: none;
            margin-top: 40px;
        }

        .colored-navbar {
            background-color: #6c757d;
        }

        /* Style for uploaded images */
        #uploadedImages img {
            max-width: 136px;
            min-width: 136px;
            height: 176px; /* Maintain aspect ratio */
            margin: 5px; /* Add some spacing between images */
            padding: 0 5px;
        }

        .close-button {
            position: absolute;
            top: 5px;
            right: 5px;
            background-color: transparent;
            border: none;
            color: black;
            font-size: 18px;
            cursor: pointer;
        }

        .image-container {
            position: relative;
            display: inline-block;
            margin-right: 10px; /* Adjust as needed */
        }


        .delete-button {
            position: absolute;
            top: 0;
            right: 0;
            background: transparent;
            border: none;
            color: black; /* Change this to your desired color */
            font-size: 18px;
            cursor: pointer;
            z-index: 1;
        }
    </style>


    <script>
        var imageCounter = 0; // Global counter

        //array to contain imageBytes of all uplaoded images (to be used for generating PDF)
        const preprocessed = [];

       var openFile = function (file) {
    $('#generatePDFbutton').removeClass('d-none');
    $('#uploadedImages').removeClass('d-none');
    $('#checkBox').removeClass('d-none');
    var input = file.target;
    var reader = new FileReader();
    reader.onload = function () {
        var dataURL = reader.result;
        var output = document.createElement('div');
        output.className = 'image-container';

        var image = document.createElement('img');
        image.src = dataURL;
        image.className = 'mx-auto my-2 clearfix w-10';
        image.style.border = '1px solid black'; // Border style

        var closeButton = document.createElement('button');
        closeButton.innerHTML = 'X';
        closeButton.className = 'close-button';
        closeButton.onclick = function () {
            output.remove(); // Remove the image container when X is clicked
            var index = preprocessed.indexOf(image);
            if (index !== -1) {
                preprocessed.splice(index, 1); // Remove the image from the preprocessed array
            }
            checkImages();
        };
        output.appendChild(closeButton);
        output.appendChild(image);
        output.setAttribute('id', 'image_' + imageCounter++);

        document.getElementById('uploadedImages').appendChild(output);
        preprocessed.push(image); // Push the image to the preprocessed array
        checkImages();
        detectAndAlertCode(reader.result);
    };
    reader.onerror = function (error) {
        console.log('Error: ', error);
    };
    reader.readAsDataURL(input.files[0]);
    input.value = ''; // Reset input value so you can upload the same image multiple times
};

        function switchToCamera() {
            document.getElementById('upload_button').hidden = true;
            document.getElementById('camera_button').hidden = true;
            document.getElementById('output').hidden = true;
            document.getElementById('cam_container').hidden = false;
        }

        function checkImages() {
            var imageContainer = document.getElementById('uploadedImages');
            var imagesCount = imageContainer.childElementCount;
            if (imagesCount === 0) {
                $('#generatePDFbutton').addClass('d-none');
                $('#uploadedImages').addClass('d-none');
                var ridQR = document.getElementById("target");
                ridQR.innerHTML = "";
            }
        }


    </script>

</head>
<body>

<script>
    let loaded=0;
    function librincr()
    {
        loaded++;
    }
    function librassert()
    {
        if(loaded < 22)
            alert("ERROR: not all libraries loaded");
    }
    
</script>
<!-- Include jquery and bootstrap -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" onload="librincr()"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js" onload="librincr()"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" onload="librincr()"></script>

<!-- pdf library import -->
<script src="https://unpkg.com/pdf-lib@1.4.0" onload="librincr()"></script>
<script src="https://unpkg.com/downloadjs@1.4.7" onload="librincr()"></script>

    <!-- Controller and qr libraries -->
    <script type="text/javascript" src="../controller/jsqrcode/src/grid.js" onload="librincr()"></script>
    <script type="text/javascript" src="../controller/jsqrcode/src/version.js" onload="librincr()"></script>
    <script type="text/javascript" src="../controller/jsqrcode/src/detector.js" onload="librincr()"></script>
    <script type="text/javascript" src="../controller/jsqrcode/src/formatinf.js" onload="librincr()"></script>
    <script type="text/javascript" src="../controller/jsqrcode/src/errorlevel.js" onload="librincr()"></script>
    <script type="text/javascript" src="../controller/jsqrcode/src/bitmat.js" onload="librincr()"></script>
    <script type="text/javascript" src="../controller/jsqrcode/src/datablock.js" onload="librincr()"></script>
    <script type="text/javascript" src="../controller/jsqrcode/src/bmparser.js" onload="librincr()"></script>
    <script type="text/javascript" src="../controller/jsqrcode/src/datamask.js" onload="librincr()"></script>
    <script type="text/javascript" src="../controller/jsqrcode/src/rsdecoder.js" onload="librincr()"></script>
    <script type="text/javascript" src="../controller/jsqrcode/src/gf256poly.js" onload="librincr()"></script>
    <script type="text/javascript" src="../controller/jsqrcode/src/gf256.js" onload="librincr()"></script>
    <script type="text/javascript" src="../controller/jsqrcode/src/decoder.js" onload="librincr()"></script>
    <script type="text/javascript" src="../controller/jsqrcode/src/qrcode.js" onload="librincr()"></script>
    <script type="text/javascript" src="../controller/jsqrcode/src/findpat.js" onload="librincr()"></script>
    <script type="text/javascript" src="../controller/jsqrcode/src/alignpat.js" onload="librincr()"></script>
    <script type="text/javascript" src="../controller/jsqrcode/src/databr.js" onload="librincr()"></script>
    <script src="../controller/controller.js" onload="librassert()"></script>

    <!--- Navigation Bar -->
    <nav class="navbar navbar-expand navbar-dark bg-dark fixed-top colored-navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="./images/ADS.png" alt="Logo" style="height: 40px;"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="home.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pdfgen.html">Template</a>
                    </li>
                </ul>
            </div>
            <div class="position-absolute top-0 end-0 mt-2 me-3">
                <a href="help.html">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                        <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286m1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94" />
                    </svg>
                </a>
            </div>
        </div>
    </nav>


    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4">Welcome to Augmented Document Scanner</h1>
            <p class="lead">Scan, digitize, and crop your documents!</p>

        </div>
    </div>


    <!-- Welcome Message -->
    <div class="container text-center">
        <br>
        <button onclick="document.getElementById('getFile').click()" class="my-2 clearfix mx-auto btn btn-primary" id='upload_button'>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-upload" viewBox="0 0 16 16">
                <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5" />
                <path d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708z" />
            </svg>

            <b>UPLOAD FILES</b>
        </button> <button onclick='switchToCamera(); startCamera()' id='camera_button' class='btn btn-primary' style='display: none;'>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-camera" viewBox="0 0 16 16">
                <path d="M15 12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h1.172a3 3 0 0 0 2.12-.879l.83-.828A1 1 0 0 1 6.827 3h2.344a1 1 0 0 1 .707.293l.828.828A3 3 0 0 0 12.828 5H14a1 1 0 0 1 1 1zM2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4z" />
                <path d="M8 11a2.5 2.5 0 1 1 0-5 2.5 2.5 0 0 1 0 5m0 1a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7M3 6.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0" />
            </svg>
            <b>CAMERA</b>
        </button>
        <input data-testid='fileupload' id='getFile' type='file' accept='image/*' onchange='openFile(event)' class="d-none"><br>
        <p id='qrresult' data-testid='qrresult' class='mx-auto my-2 clearfix w-100'></p>
        <img id='output' class="mx-auto my-2 clearfix w-10">
        <div id="uploadedImages" class="border border-dark px-0 d-none"></div>
    </div>

    <!-- Has all buttons and video screen -->
    <div class="container text-align-center" id='cam_container' hidden>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body text-center">

                        <video id="video" width="100%" height="auto" style="display: none;" class='clearfix'></video>
                        <button id="takePicture" class="btn btn-success clearfix mx-auto my-2" style="display: none;">Take Picture</button>
                        <canvas id="canvas" width="100%" height="100%" class="border" hidden></canvas>
                        <div id='photos'>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Generate PDF Button -->
    <div class="container text-center mt-2 mb-2">
        <button onclick="generatePdfEvent(preprocessed)" class="btn btn-primary d-none pt-2 pb-2" id="generatePDFbutton">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-arrow-down" viewBox="0 0 16 16">
                <path d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293z" />
                <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2M9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z" />
            </svg>
            Generate PDF
        </button>
    </div>

    <div class = "d-none" id="checkBox">
        Color Correction? <input type="checkbox" class = "" id="myCheck"> 
    </div>

    <!-- Adds functionality to the buttons -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const startCameraButton = document.getElementById('camera_button');
            const genPDFButton = document.getElementById('generatePDFbutton');
            const video = document.getElementById('video');
            const canvas = document.getElementById('canvas');
            const context = canvas.getContext('2d');
            const takePictureButton = document.getElementById('takePicture');
            let photoNum = 1;

            startCameraButton.addEventListener('click', function () {
                //document.getElementById('canvas').hidden=false;
                startCamera();
            });

            takePictureButton.addEventListener('click', function () {
                takePicture();
            });

            
            function startCamera() {

                navigator.mediaDevices.getUserMedia({ video: true })
                    .then((stream) => {
                        video.srcObject = stream;
                        video.play();
                        video.style.display = 'block';
                        takePictureButton.style.display = 'block';
                        //canvas.style.display = 'block';
                        startCameraButton.style.display = 'none';
                    })
                    .catch((err) => {
                        console.error("Error accessing webcam: ", err);
                    });

                document.getElementById("uploadedImages").style.display = "none";
            }


            function takePicture() {
                // Unhide "generate pdf" button
                $('#generatePDFbutton').removeClass('d-none');

                // Create a container for each image with an "x" button
                let imageContainer = document.createElement('div');
                imageContainer.classList.add('image-container');

                // Add image element to the container
                let photo = document.createElement('img');
                photo.id = `photo${photoNum}`;
                photo.classList.add('m-1');
                imageContainer.appendChild(photo);

                // Add "x" button overlaying the image
                let deleteButton = document.createElement('button');
                deleteButton.innerHTML = "x";
                deleteButton.classList.add('delete-button');
                deleteButton.onclick = function () {
                    // Remove the image container when "x" button is clicked
                    imageContainer.remove();
                };
                imageContainer.appendChild(deleteButton);

                // Add container to the 'photos' element
                document.getElementById('photos').appendChild(imageContainer);

                // Draw the video frame onto the canvas
                context.drawImage(video, 0, 0, canvas.width, canvas.height);

                // Set the source of the image to the canvas content
                photo.src = canvas.toDataURL('image/png');
                preprocessed.push(photo);
                // Increment the photoNum for the next image
                photoNum++;
            }
        });
    </script>

</body>
</html>
